erl_crash.dump
.eunit/*.beam
.eunit/*.erl
.eunit/*.html
.eunit/log
.eunit/cover.log
.eunit/*.xml
deps/dynarec
deps/edown
deps/gen_leader
deps/gproc
deps/lager
deps/proper
deps/timer2
ebin/*.app
ebin/*.beam
log/*.log
logs/*
test/*.beam
