%%% -*- mode: erlang -*-
{erl_opts,
 [
  debug_info,
  %% bin_opt_info,
  warn_unused_vars,
  warn_shadow_vars,
  %% warn_unused_import,
  warnings_as_errors
 ]}.
{deps_dir, ["deps"]}.
{deps, [
    {'timer2', ".*", {git, "https://github.com/Ubiquiti-TeleFi/timer2.git", "HEAD"}},
    {'lager', ".*", {git, "https://github.com/Ubiquiti-TeleFi/lager.git", "HEAD"}},
    {'proper', ".*", {git, "https://github.com/Ubiquiti-TeleFi/proper.git", "HEAD"}},
    {'dynarec', ".*", {git, "https://github.com/Ubiquiti-TeleFi/dynarec.git", "HEAD"}}
       ]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
